.socialLinks {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  margin-bottom: 3px;
}

.socialLink {
  display: block;
  overflow: hidden;
}

.socialLinkImg {
  display: block;
  height: 16px;
  width: auto;
}