.mainSection {
  padding: 75px 0 0;
}

.pageContent {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 100%;
  overflow: hidden;
}

.pageTitle {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  margin-bottom: -20px;
}

.pageBlocks {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 100%;
  overflow: hidden;
}